POSTGRES_DB=asignaciones
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

MYSQL_DATABASE=asignaciones
MYSQL_ROOT_PASSWORD=123456

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=123456

KEYCLOAK_DB=keycloak_bd
KEYCLOAK_DB_PASSWORD=123456
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=123456
KEYCLOAK_REALM=Universidad

VITE_API_URL=http://localhost:4002/api
VITE_KEYCLOAK_URL=http://localhost:8091
VITE_KEYCLOAK_CLIENT_ID=front_react
