VITE_API_URL=http://localhost:4002/api
VITE_M1_API_URL=http://localhost:4001
VITE_M2_API_URL=http://localhost:4002/api
VITE_M3_API_URL=http://localhost:4003
VITE_KEYCLOAK_URL=http://localhost:8091
VITE_KEYCLOAK_REALM=Universidad
VITE_KEYCLOAK_CLIENT_ID=front_react
